<form method="post" action="/posts">
  <label for="name">Name: </label><input id="name" name="name" type="text" />
  <label for="content">Content: </label><input id="content" name="content" type="text" />
</form>
